<div [@routerTransition]>
    <div class="row">
        <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">RECENT SALES</h5>
                        <hr>
                        <p>Your Sale Is Empty</p>
                        <p>Make some invoice for sale data to appear</p>
                    </div>
                </div>
        </div>
        <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">UPCOMING APPOINTMENTS</h5>
                        <hr>
                        <p>Your Schedule Is Empty</p>
                        <p>Make some appointments for schedule data to appear</p>
                    </div>
                </div>
        </div>
    </div>
</div>
