<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-users'"></app-page-header>
    <div class="row">
         <div class="col col-xl-6 col-lg-12">

            <div class="card mb-3">
                    <div _ngcontent-c11="" class="card-header">Striped Rows</div>
                    <div _ngcontent-c11="" class="card-body table-responsive">
                        <table _ngcontent-c11="" class="table table-hover table-striped">
                            <thead _ngcontent-c11="" class="ng-tns-c11-4">
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <th _ngcontent-c11="" class="ng-tns-c11-4">Page</th>
                                <th _ngcontent-c11="" class="ng-tns-c11-4">Visits</th>
                                <th _ngcontent-c11="" class="ng-tns-c11-4">% New Visits</th>
                                <th _ngcontent-c11="" class="ng-tns-c11-4">Revenue</th>
                            </tr>
                            </thead>
                            <tbody _ngcontent-c11="" class="ng-tns-c11-4">
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/index.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">1265</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">32.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$321.33</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/about.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">261</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">33.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$234.12</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/sales.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">665</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">21.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$16.34</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/blog.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">9516</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">89.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$1644.43</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/404.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">23</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">34.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$23.52</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/services.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">421</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">60.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$724.32</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/blog/post.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">1233</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">93.2%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$126.34</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div> <!--  / div col  -->



             <div class="col col-xl-6 col-lg-12">

                <div class="card mb-3">
                <div _ngcontent-c11="" class="card-header">Table head options</div>
                <div _ngcontent-c11="" class="card-body table-responsive">
                    <table _ngcontent-c11="" class="table">
                        <thead _ngcontent-c11="" class="thead-inverse">
                        <tr _ngcontent-c11="" class="ng-tns-c11-4">
                            <th _ngcontent-c11="" class="ng-tns-c11-4">#</th>
                            <th _ngcontent-c11="" class="ng-tns-c11-4">First Name</th>
                            <th _ngcontent-c11="" class="ng-tns-c11-4">Last Name</th>
                            <th _ngcontent-c11="" class="ng-tns-c11-4">Username</th>
                        </tr>
                        </thead>
                        <tbody _ngcontent-c11="" class="ng-tns-c11-4">
                        <tr _ngcontent-c11="" class="ng-tns-c11-4">
                            <th _ngcontent-c11="" class="ng-tns-c11-4" scope="row">1</th>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Mark</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Otto</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">@mdo</td>
                        </tr>
                        <tr _ngcontent-c11="" class="ng-tns-c11-4">
                            <th _ngcontent-c11="" class="ng-tns-c11-4" scope="row">2</th>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Jacob</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Thornton</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">@fat</td>
                        </tr>
                        <tr _ngcontent-c11="" class="ng-tns-c11-4">
                            <th _ngcontent-c11="" class="ng-tns-c11-4" scope="row">3</th>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Larry</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">the Bird</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                    <table _ngcontent-c11="" class="table">
                        <thead _ngcontent-c11="" class="thead-default">
                        <tr _ngcontent-c11="" class="ng-tns-c11-4">
                            <th _ngcontent-c11="" class="ng-tns-c11-4">#</th>
                            <th _ngcontent-c11="" class="ng-tns-c11-4">First Name</th>
                            <th _ngcontent-c11="" class="ng-tns-c11-4">Last Name</th>
                            <th _ngcontent-c11="" class="ng-tns-c11-4">Username</th>
                        </tr>
                        </thead>
                        <tbody _ngcontent-c11="" class="ng-tns-c11-4">
                        <tr _ngcontent-c11="" class="ng-tns-c11-4">
                            <th _ngcontent-c11="" class="ng-tns-c11-4" scope="row">1</th>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Mark</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Otto</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">@mdo</td>
                        </tr>
                        <tr _ngcontent-c11="" class="ng-tns-c11-4">
                            <th _ngcontent-c11="" class="ng-tns-c11-4" scope="row">2</th>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Jacob</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Thornton</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">@fat</td>
                        </tr>
                        <tr _ngcontent-c11="" class="ng-tns-c11-4">
                            <th _ngcontent-c11="" class="ng-tns-c11-4" scope="row">3</th>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">Larry</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">the Bird</td>
                            <td _ngcontent-c11="" class="ng-tns-c11-4">@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

    </div>
</div>
