<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-users'"></app-page-header>
    <div class="row">
            <div class="col-sm-12">

                <div class="card mb-3">
                    <div class="card-header">List User <button class="btn btn-sm btn-success pull-right" type="button" (click)="open(content)">Thêm mới</button></div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>ID</th>
                                <th>User name</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of listusers; index as i">
                                <td>{{i+1}}</td>
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td>Admintrolr</td>
                                <td>
                                  <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                  </label>
                                </td>
                                <td>
                                  <button _ngcontent-c31="" class="btn btn-sm btn-success" type="button"><i class="fa fa-pencil-square-o"></i></button>
                                  <button _ngcontent-c31="" class="btn btn-sm btn-danger" type="button"  (click)="dalete_user(user.id)"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #signupForm=ngForm (ngSubmit)="onSubmit()">

              <div class="form-content">

                  <div class="form-group">
                      <input type="text" class="form-control input-underline input-lg" name="name" [(ngModel)]="form.name" id="" placeholder="Full Name" required>
                      <div class="alert alert-danger" [hidden]="!error.name"> {{ error.name }} </div>
                  </div>

                  <div class="form-group">
                      <input type="email" name="email" [(ngModel)]="form.email" class="form-control input-underline input-lg" id="" placeholder="Email" required>
                      <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                  </div>

                  <div class="form-group">
                      <input type="password" name="password" [(ngModel)]="form.password" class="form-control input-underline input-lg" id="" placeholder="Password" required>
                      <div class="alert alert-danger" [hidden]="!error.password"> {{ error.password }} </div>
                  </div>
                  <div class="form-group">
                      <input type="password" name="password_confirmation" [(ngModel)]="form.password_confirmation" class="form-control input-underline input-lg" id="" placeholder="Repeat Password" required>
                      <div class="alert alert-danger" [hidden]="!error.password_confirmation"> {{ error.password_confirmation }} </div>
                  </div>
              </div>
               <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" [disable]="!signupForm.valid" > Register </a>&nbsp; -->
             <button type="submit" class="btn rounded-btn pull-right"  [disabled]="!signupForm.valid" > Register </button>
          </form>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div> -->
    </ng-template>