$topnav-background-color: #fff;
:host {
    .navbar {
        background-color: $topnav-background-color;
        border-bottom: 1px solid #c2cfd6;
        .navbar-brand {
            display: inline-block;
            width: 190px;
            padding: 1rem;
            background-image: url(../../../../assets/images/logo.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 70px auto;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
