.control-label {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.form-text-area {
  resize: none;
}

.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}

.form-group {
    padding: 8px 0;
    input::-webkit-input-placeholder {
        color: #656565 !important;
    }

    input:-moz-placeholder {
        /* Firefox 18- */
        color: #656565 !important;
    }

    input::-moz-placeholder {
        /* Firefox 19+ */
        color: #656565 !important;
    }

    input:-ms-input-placeholder {
        color: #656565 !important;
    }
}

