<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Home' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp;
            <span>{{ 'Calendar' | translate }}</span>
        </a>
        <a [routerLink]="['/reports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-address-book"></i>&nbsp;
            <span>{{ 'Sales' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wechat"></i>&nbsp;
            <span>{{ 'Clients' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-envelope"></i>&nbsp;
            <span>{{ 'Messages' | translate }}</span>
        </a>
        <a [routerLink]="['/staff']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>{{ 'Staff' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-calculator"></i>&nbsp;
            <span>{{ 'Services' | translate }}</span>
        </a>
        <a [routerLink]="['/inventory']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-briefcase"></i>&nbsp;
            <span>{{ 'Inventory' | translate }}</span>
        </a>
        <a href="javascript:void(0)" class="list-group-item">
            <i class="fa fa-line-chart"></i>&nbsp;
            <span>{{ 'Analytics' | translate }}</span>
        </a>
        <a href="javascript:void(0)" class="list-group-item">
            <i class="fa fa-cloud"></i>&nbsp;
            <span>{{ 'Online Booking' | translate }}</span>
        </a>
        <a href="javascript:void(0)" class="list-group-item">
            <i class="fa fa-gear"></i>&nbsp;
            <span>{{ 'Setup' | translate }}</span>
        </a>
        <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp;
            <span>{{ 'User' | translate }}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-left"></i>&nbsp;
    </div>
</nav>
