<div class="_3o5M5s" style="display: flex; flex-direction: row;">
  <div class="_2yU4mG" style="display: flex; flex-direction: row;">
    <div class="_2mPFMy _10v_P6 ex0yBB _1uoK75 _3KrHdu _2Ihtwi _1FszNF"  style="display: flex; flex-direction: column;">
      <span class="_2FSeuB _240vE8 _2CXiYN _3vTBXo">
        <svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path d="M1.5 1.5v15h17v-15h-17zM1 0h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1z"></path>
            <path d="M4 5h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zM4 9h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zM4 13h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
          </g>
        </svg>
      </span>
    </div>
  </div>
</div>
