<div class="_2jGgaE">
  <div>
    <div>
      <div>
        <div class="_3_Zd_x">
          <div class="_3mFAWf">
            <div class="_1XOh8M _1jFEEZ" placeholder="Search by name, barcode or SKU" value="">
              <div class="H9L5q0">
                <input class="JOAm_M _1FszNF" placeholder="Search by name, barcode or SKU" value="">
                <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
                    <path d="M21.285 19.399c1.285-1.682 2.049-3.785 2.049-6.065 0-5.523-4.477-10-10-10s-10 4.477-10 10c0 5.523 4.477 10 9.999 10 0.006 0 0.011 0 0.017 0 2.286 0 4.392-0.77 6.049-2.049l7.239 7.238c0.24 0.24 0.572 0.388 0.939 0.388 0.368 0 0.702-0.15 0.943-0.392 0.243-0.24 0.393-0.574 0.393-0.943 0-0.367-0.149-0.699-0.389-0.939l-7.238-7.239zM13.333 20.667c-4.050 0-7.333-3.283-7.333-7.333s3.283-7.333 7.333-7.333 7.333 3.283 7.333 7.333-3.283 7.333-7.333 7.333z"></path>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="qNCe1U _1dzVLv"></div>
          <div class="_3T9g9r">
            <span class="_2IkdIq _26n0p2">
              <select class="_3b4Iwb">
                <option value="">Export</option>
                <option value="xlsx">Excel</option>
                <option value="csv">CSV</option>
              </select>
              <span class="_2FSeuB _240vE8 _2CXiYN _25R4LF _2hkIol">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6">
                  <path d="M5.5 4.793L10.146.146a.5.5 0 1 1 .708.708l-5 5a.5.5 0 0 1-.708 0l-5-5A.5.5 0 1 1 .854.146L5.5 4.793z" fill-rule="nonzero"></path>
                </svg>
              </span>
            </span>
          </div>
          <button class="_1FszNF _3ttzJg _2DZ1oJ _26WQGn _311OLi">
            <span class="_2FSeuB _240vE8 _3uXBro RCcMXQ _3vTBXo _1w3FE_">
              <svg viewBox="0 0 18 16">
                <path d="M0 2h15" stroke-linecap="round"></path>
                <circle cx="4" cy="2" r="2"></circle>
                <path d="M0 8h15" stroke-linecap="round"></path>
                <circle cx="9" cy="8" r="2"></circle>
                <path d="M0 14h15" stroke-linecap="round"></path>
                <circle cx="4" cy="14" r="2"></circle>
              </svg>
            </span>Filters
          </button>
        </div>
        <div class="_1mW557 coKyrs">
          <div class="_2hndFf">
            <div>
              <div class="nsuqUP">
                <table class="_3rpc36">
                  <thead>
                    <tr>
                      <th class="_3jHaBz _1hEJSa _1DaKSp">
                        <div>Product name</div>
                        <span>
                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1QKGAB">
                            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.762 11.316l-.48.458c-.168.15-.362.226-.585.226-.227 0-.42-.075-.578-.226L9 8.804l-3.12 2.97c-.158.15-.35.226-.577.226-.223 0-.417-.075-.584-.226l-.478-.458C4.08 11.16 4 10.976 4 10.76c0-.22.08-.404.244-.55l4.178-3.978C8.576 6.077 8.77 6 9 6c.227 0 .422.077.584.232l4.178 3.978c.16.15.238.334.238.55 0 .21-.08.397-.238.556z"></path>
                            </svg>
                          </span>
                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe">
                            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.762 6.684l-.48-.458c-.168-.15-.362-.226-.585-.226-.227 0-.42.075-.578.226L9 9.196l-3.12-2.97C5.723 6.076 5.53 6 5.304 6c-.223 0-.417.075-.584.226l-.476.458C4.08 6.84 4 7.024 4 7.24c0 .22.08.404.244.55l4.178 3.978c.154.155.347.232.578.232.227 0 .422-.077.584-.232l4.178-3.978c.16-.15.238-.334.238-.55 0-.21-.08-.397-.238-.556z"></path>
                            </svg>
                          </span>
                        </span>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Barcode</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa _1DaKSp o5hxTP">
                        <div>Retail price</div>
                        <span>
                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1QKGAB">
                            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.762 11.316l-.48.458c-.168.15-.362.226-.585.226-.227 0-.42-.075-.578-.226L9 8.804l-3.12 2.97c-.158.15-.35.226-.577.226-.223 0-.417-.075-.584-.226l-.478-.458C4.08 11.16 4 10.976 4 10.76c0-.22.08-.404.244-.55l4.178-3.978C8.576 6.077 8.77 6 9 6c.227 0 .422.077.584.232l4.178 3.978c.16.15.238.334.238.55 0 .21-.08.397-.238.556z"></path>
                            </svg>
                          </span>
                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe">
                            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.762 6.684l-.48-.458c-.168-.15-.362-.226-.585-.226-.227 0-.42.075-.578.226L9 9.196l-3.12-2.97C5.723 6.076 5.53 6 5.304 6c-.223 0-.417.075-.584.226l-.476.458C4.08 6.84 4 7.024 4 7.24c0 .22.08.404.244.55l4.178 3.978c.154.155.347.232.578.232.227 0 .422-.077.584-.232l4.178-3.978c.16-.15.238-.334.238-.55 0-.21-.08-.397-.238-.556z"></path>
                            </svg>
                          </span>
                        </span>
                      </th>
                      <th class="_3jHaBz _1hEJSa _1DaKSp o5hxTP">
                        <div>Stock On Hand</div>
                        <span>
                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1QKGAB">
                            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.762 11.316l-.48.458c-.168.15-.362.226-.585.226-.227 0-.42-.075-.578-.226L9 8.804l-3.12 2.97c-.158.15-.35.226-.577.226-.223 0-.417-.075-.584-.226l-.478-.458C4.08 11.16 4 10.976 4 10.76c0-.22.08-.404.244-.55l4.178-3.978C8.576 6.077 8.77 6 9 6c.227 0 .422.077.584.232l4.178 3.978c.16.15.238.334.238.55 0 .21-.08.397-.238.556z"></path>
                            </svg>
                          </span>
                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe">
                            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.762 6.684l-.48-.458c-.168-.15-.362-.226-.585-.226-.227 0-.42.075-.578.226L9 9.196l-3.12-2.97C5.723 6.076 5.53 6 5.304 6c-.223 0-.417.075-.584.226l-.476.458C4.08 6.84 4 7.024 4 7.24c0 .22.08.404.244.55l4.178 3.978c.154.155.347.232.578.232.227 0 .422-.077.584-.232l4.178-3.978c.16-.15.238-.334.238-.55 0-.21-.08-.397-.238-.556z"></path>
                            </svg>
                          </span>
                        </span>
                      </th>
                      <th class="_3jHaBz _1hEJSa _1DaKSp">
                        <div>Updated at</div>
                        <span>
                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1QKGAB">
                            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.762 11.316l-.48.458c-.168.15-.362.226-.585.226-.227 0-.42-.075-.578-.226L9 8.804l-3.12 2.97c-.158.15-.35.226-.577.226-.223 0-.417-.075-.584-.226l-.478-.458C4.08 11.16 4 10.976 4 10.76c0-.22.08-.404.244-.55l4.178-3.978C8.576 6.077 8.77 6 9 6c.227 0 .422.077.584.232l4.178 3.978c.16.15.238.334.238.55 0 .21-.08.397-.238.556z"></path>
                            </svg>
                          </span>
                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe">
                            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.762 6.684l-.48-.458c-.168-.15-.362-.226-.585-.226-.227 0-.42.075-.578.226L9 9.196l-3.12-2.97C5.723 6.076 5.53 6 5.304 6c-.223 0-.417.075-.584.226l-.476.458C4.08 6.84 4 7.024 4 7.24c0 .22.08.404.244.55l4.178 3.978c.154.155.347.232.578.232.227 0 .422-.077.584-.232l4.178-3.978c.16-.15.238-.334.238-.55 0-.21-.08-.397-.238-.556z"></path>
                            </svg>
                          </span>
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="_1A0eEb _1zQ7jO">
                      <td class="N3OZB6 _1vLxYz">ad</td>
                      <td class="N3OZB6 _1vLxYz"></td>
                      <td class="N3OZB6 _1vLxYz">
                        <div class="_1BMD-j">
                          <span>
                            <span class="_28pPyW _3YUJNN">₫121</span>
                            <span class="DBfVhs">₫12</span>
                          </span>
                        </div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <div class="_1BMD-j">1</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">25 Jan 2019, 13:53</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="_1KF_kh">
                <div class="_3Cd6wq">
                  <div class="_3oGeTh">Displaying
                    <b class="_2P0kb0">1</b>
                    product
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_1nM1bd" data-qa="loader-spinner-container">
            <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rTWbSm" (mouseover)="changeText=true" (mouseout)="changeText=false">
  <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_">
    <span class="_2FSeuB _240vE8 RCcMXQ" *ngIf="!changeText">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path d="M26 22V8c0-1.11-.895-2-2-2-1.112 0-2 .895-2 2v14H8c-1.11 0-2 .895-2 2 0 1.112.895 2 2 2h14v14c0 1.11.895 2 2 2 1.112 0 2-.895 2-2V26h14c1.11 0 2-.895 2-2 0-1.112-.895-2-2-2H26z"></path>
      </svg>
    </span>
    <span *ngIf="changeText">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path d="M26 22V8c0-1.11-.895-2-2-2-1.112 0-2 .895-2 2v14H8c-1.11 0-2 .895-2 2 0 1.112.895 2 2 2h14v14c0 1.11.895 2 2 2 1.112 0 2-.895 2-2V26h14c1.11 0 2-.895 2-2 0-1.112-.895-2-2-2H26z" routerLink="/inventory/products/new"></path>
      </svg>
    </span>
  </button>
</div>
<router-outlet></router-outlet>
