<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>ADMIN - EDUCLANGS   </h1>
            <p>Send Email for Reset Password</p>
           <!--  <form role="form"> -->
            <form #RequestResetForm=ngForm (ngSubmit)="onSubmit()" >
                <div class="form-content">


                    <div class="form-group">
                        <input type="email" [(ngModel)]="form.email" name="email" class="form-control input-underline input-lg"  placeholder="Email" required>
                    </div>

                </div>

                <button type="submit"  class="btn rounded-btn"  [disabled]="!RequestResetForm.valid" >Send Password Reset Email </button>
                &nbsp;

            </form>
        </div>
    </div>
</div>
