<div [@routerTransition]>
<!--     <ngx-tui-calendar #exampleCalendar id="example-calendar"
    [defaultView]= "defaultView"
    [taskView]="true"
    [template]="template"
    (tuiCalendarCreated)="onTuiCalendarCreate($event)"></ngx-tui-calendar> -->
<p>Display event : {{displayEvent | json}}</p>
<div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div>
</div>
